h1 {
  font-size: 320%;
  font-weight: Lighter;
  color: #fefbd8;
}

p.large {
  font-style: Helvetica;
  font-size: 180%;
  font-weight: Lighter;
  color: #fefbd8;
}

body {
  background-color: #82b74b;
  color: #fefbd8;
}

.App {
  text-align: center;
}
